<div class="user-statuses__item status-card <%= user.has_boom_award? ? "boom" : "" %>">
  <div class="status-card__row">
    <div class="status-card__name">
      <%= user.name %>
    </div>
  </div>
  <div class="status-card__row">
    <div class="status-card__status">
      <strong>Status:</strong> <%= user.status_messages.last.try(:status) %>
    </div>
    <div class="status-card__location">
      <strong>Location:</strong> <%= user.user_locations.last.try(:location) %>
    </div>
  </div>
  <div class="status-card__avatar">
    <img src="<%= user.avatar.url %>">
  </div>
</div>
